<div class = "container">
  <h2>Add New Country</h2>
  <div>
  <form #addcountryform="ngForm" (ngSubmit)="addCountryFormSubmit()" class="normal-form">
    
        <div class="controls-container">
          <div class="form-group">
            <label for="id">Number of the Country:</label>
            <input type="text" class="form-control" required [(ngModel)]="country.id" name="id">
          </div>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" required [(ngModel)]="country.name" name="name">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" required [(ngModel)]="country.desc" name="description">
          </div>
          <div class="form-group">
            <label for="price">Area:</label>
            <input type="text" class="form-control" required [(ngModel)]="country.area" name="area">
          </div>
          <button type="submit" class="btn btn-success">Create or Update</button>
        </div>
    
   </form>
  </div>
</div>
 